# Task 4.6 Part II

Table of Contents
1. Importing libraries
2. Combining dataframes

# 1. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# 3---In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

df_orders_products_combined = pd.read_pickle(r'C:\Users\peter\Documents\Instacart Basket Analysis 2022\02 Data\Prepared Data\orders_products_combined.pkl')

In [3]:
# 4 --- Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

df_orders_products_combined.head()

,order_id,user_id,order_number,orders_days_of_week,order_time,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [4]:
df_orders_products_combined.shape

(32434489, 11)

In [5]:
df_orders_products_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_days_of_week',
       'order_time', 'days_since_prior_order', 'first_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [6]:
df_prod = pd.read_csv(r'C:\Users\peter\Documents\Instacart Basket Analysis 2022\02 Data\Prepared Data\products_cleaned.csv', index_col = False)

In [7]:
df_prod.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prod.shape

(49677, 6)

In [9]:
# Removing Unnamed: 0 column from df_prod and _merge from df_orders_products_combined
df_prod = df_prod.drop(columns = ['Unnamed: 0'])

In [10]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

# 2. Combining dataframes

In [12]:
# 5 --- Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
# Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [13]:
df_orders_products_merged = df_orders_products_combined.merge(df_prod, on = ['product_id'], indicator = True)

In [14]:
df_orders_products_merged.head()

,order_id,user_id,order_number,orders_days_of_week,order_time,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [15]:
# 6 --- Confirm the results of the merge using the merge flag.

In [16]:
df_orders_products_merged['_merge'].value_counts()

both          32406041
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
# 7 --- Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [18]:
df_merged_large = df_orders_products_merged

In [19]:
df_merged_large.to_pickle(r'C:\Users\peter\Documents\Instacart Basket Analysis 2022\02 Data\Prepared Data\orders_products_merged.pkl')