# 4.6 Combining & Exporting Data

Table of Contents
1. Importing libraries and data
2. Task 4.6 Part I - merging dataframes

# 1. Importing libraries and data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
df_ords = pd.read_csv(r'C:\Users\peter\Documents\Instacart Basket Analysis 2022\02 Data\Prepared Data\orders_cleaned.csv', index_col = False)

In [3]:
df_ords_prior = pd.read_csv(r'C:\Users\peter\Documents\Instacart Basket Analysis 2022\02 Data\Original Data\prior_orders.csv', index_col = False)

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_days_of_week,order_time,days_since_prior_order,first_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [6]:
# Removing extra columns Unnamed: 0 and Unnamed: 0.1 - I am not sure where this is actually coming from. 
#The column first_order was created at the end of Task 4.5 as part of an additional column to collect data on the costumers who have only one single order and are otherwise NaN for days_since_prior_order
df_ords_2 = df_ords.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords_2.shape

(3421083, 7)

# Task 4.6 - Merging dataframes

In [9]:
# 1 --- If you havenâ€™t merged your prepared Instacart orders data with the new orders_products_prior dataframe
# per the instructions in this Exercise, do so now.

In [10]:
df_merged_large = df_ords_2.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,order_id,user_id,order_number,orders_days_of_week,order_time,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
# 2--- Export the merged file in pickle format as â€œorders_products_combined.pkl"
df_merged_large.to_pickle(r'C:\Users\peter\Documents\Instacart Basket Analysis 2022\02 Data\Prepared Data\orders_products_combined.pkl')

In [14]:
df_merged_large.shape

(32434489, 11)